*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    right: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#233B6C;
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center;
}

#g-nav li a{
	text-decoration: none;
	padding:10px;
	display: block;
	letter-spacing: 0.1em;
	font-weight: bold;
}
/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:0px;
	right: 0px;
	cursor: pointer;
    width: 50px;
    height:50px;
    background-color: #233B6C;
    border-radius: 10px 0px 0px 10px;
}

/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #fff;
  	width: 45%;
  }

  .openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.openbtn p{
    position: fixed;
    color: #fff;
    top:35px;
    right: 9px;
    font-size: 10px;
}

.openbtn.active p{
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}
li{
    color: #fff;
}

li h2{
    color: #fff ;
    text-decoration: underline;
}

nav{
    background-color: #233B6C;
}
  a{
    transition: color 0.3s;
    color: blue;
  }
  li h2:hover {
    transition: color 0.3s;
    color: #fdb933;
}
li h2:active {
  color: #661d9b;
}
  a:hover{
    color : #fcbb76;
  }
  a:active{
    color: #661d9b;
  }
  body{
    color: #fff;
    background-color: #333;
  }
  @media (hover: hover) and (pointer: fine) {
    .pagetop:hover, .pagetop:hover .pagetop__arrow {
        border-color: #fdb933;
    }
}

  .pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #233B6C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 3px solid #233B6C;
    border-right: 3px solid #233B6C;
    transform: translateY(20%) rotate(-45deg);
}
.hero{
    position: relative;
    margin-bottom: 10%;
}
.hero img{
    width: 100%;
}
.hero h1{
    font-size: 7em;
    position: absolute;
    top: 10%;
    left: 10%;
}
.hero p{
    font-size: 3em;
    position: absolute;
    bottom: 2%;
    right: 2%;

}
.profile h1{
    text-align: center;
}
.box{
    display: flex;
    margin: 10%;
    background-color: #233B6C;
}
.boxA{
    padding: 5%;
    border-width: 3px;
border-style: solid;
border-color: black;
    width: 50%;
    text-align: center;
}
.boxA img{
    width: 100%;
    text-align: center;
    border-radius: 50%;
    border-width: 3px;
border-style: solid;
border-color: black;
}

.boxA p{
    font-size: 200%;
}
.prof{
    padding: 10% 0;
}
.tyui{
    padding-top: 10%;
    font-size: 8px;
}
.boxB{
    padding-top: 10%;
    width: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
.boxB h2{
    font-size: 2em;
    text-align: center;
    padding: 10%;
}
.boxB li{
    font-size: 1.5em;
    list-style: none;
    line-height: 3em;
}
.work{
}
.work h1{
    text-align: center;
    margin-bottom: 10%;
}
.main{
    color: #000;
    text-align: center;
    width: 80%;
    margin: 10% 10%;
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
.main img{
    width: 100%;
}
.main h2{
    padding: 3%;
    font-size: 2em;
}
.main p{
    font-size: 20px;
    padding: 5%;
}
.worksA{
    display: flex;
    color: #000;

}
.workA{
    text-align: center;
    width: 35%;
    margin: 0 10%;
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
.workA img{
    width: 100%;
}
.workA p{
    font-size: 20px;
    padding: 5%;
}
.workA h2{
    padding: 3%;
    font-size: 2em;
}
.workB{
    text-align: center;
    width: 35%;
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
.workB h2{
    padding: 3%;
    font-size: 2em;
}
.workB img{
    width: 100%;
}
.workB p{
    font-size: 20px;
    padding: 5%;
}
.worksB{
    display: flex;
    color: #000;
}
.workC{
    text-align: center;
    width: 35%;
    margin: 10% 10%;
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
.workC h2{
    color: #000;
    padding: 3%;
    font-size: 2em;
}
.workC img{
    width: 100%;
}
.workC p{
    font-size: 20px;
    padding: 5%;
}
.workD{
    text-align: center;
    width: 35%;
    margin: 10% 0%;
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
.workD h2{
    padding: 3%;
    font-size: 2em;
}
.workD img{
    width: 100%;
}
.workD p{
    font-size: 20px;
    padding: 5%;
}
.contact{
    position: relative;
    text-align: center;
    height: 400px;
}
.contact h2{
    padding-bottom:1%;
}
.contacts{
    margin-top: 2%;
    position:absolute;
    left: 20%;
    background-color: #fff;
    width: 60%;
    height: 60%;
}
input{
    text-align: center;
}
form{
    display:flex;
  flex-flow: column;
  color: #000;
}
input{
    margin-left: 40%;
    width: 20%;
}
textarea{
    margin-left:20%;
    width: 60%;
}
button{
    margin-left: 40%;
    width: 20%;
}
footer{
    text-align: center;
    color: #888;
    background-color: #222;
}
.bun img{
    width: 30%;
}
.bun{
    display: flex;
    margin-bottom: 5%;
}
.bun p{
    padding-top: 3%;
    font-size: 1.5em;
}
.bun2{
    display: flex;
    margin-bottom: 5%;
}
.bun2 img{
    width: 20%;
    margin-right: 5%;
}
.bun2 video{
    width: 20%;
}
.bun2 p{
    padding-top: 3%;
    font-size: 1.5em;
}
.bun3{
    display: flex;
}
.bun3 img{
    width: 30%;
    margin-right: 5%;
}
.bun3 p{
    padding-top: 3%;
    font-size: 1.5em;
}
.bun4{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.bun4 img{
    width: 30%;
    margin-right: 5%;
}
.bun4 p{
    padding-top: 3%;
    font-size: 1.5em;
}
.bun4 video{
    width: 40%;
}

.bun4 a {
    font-size: 2em;
    padding-left: 39%;
}
a{
    color: white;
}
.bun5 img{
    width: 30%;
    
}
.bun5{
    display: flex;
    margin-bottom: 5%;
}
.bun5 p{
    padding-top: 7%;
    font-size: 1.5em;
    padding-right: 9%;
}
.neta{
    margin: 0%;
}
.bun6 img{
    width: 50%;
    
}
.bun6{
    display: flex;
    margin-bottom: 5%;
}
.bun6 p{
    padding-top: 7%;
    font-size: 1.5em;
    padding-right: 9%;
}
.bun7 img{
    width: 20%;
    
}
.bun7{
    display: flex;
    margin-bottom: 5%;
}
.bun7 p{
    padding-top: 7%;
    font-size: 1.5em;
    padding-right: 9%;
}
.gengo{
    font-size: 2em;
}
.my-social {
    grid-area: social;  /* mainタグのGridテンプレートの「social」に配置 */
    list-style: none; /* リストの・が邪魔なので消します */
    display: flex; /* .my-social内部をフレキシブル表示に切り替え（標準で横並びになります） */
    margin-top: 1.5rem; /* 上部に1.5文字分の外部余白を設定 */
    justify-content: center;
  }
  /* class="my-social"の中のli */
.my-social li {
    line-height: 1; /* 文字高さを1文字分とする */
    margin-right: 1rem; /* 右側に1文字分の外側余白をつける */
    font-size: 2rem; /* アイコン(文字)のサイズを2文字分とする */
  }
  /* class="my-social"の中のliの中のa */
.my-social li a {
    display: inline-block; /* リンクテキストをインラインブロック要素として表示 */
    text-decoration: none;  /* リンクテキストの装飾をなくす */
    color: var(--text-color);  /* 文字色をデフォルトのリンクカラーからこの文書の文字色へ変更 */
    cursor: pointer; /* この要素にマウスオーバーしたとき、マウスカーソルを指に変更 */
    /*transition: 1s color; 文字色が変化する場合、１秒かけて変化させる定義 */
    transition: 0.5s transform, 0.5s color;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  /* class="my-social"の中のliの中のaにマウスカーソルが乗った時 */
.my-social li a:hover {
    color: transparent; /* 背景に設定したグラデーションが表示されるように文字色を透明（transparent）にする */
    transform: scale(1.5); /* 要素を1.5倍に変形させます */
  }